* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(219, 117, 21);
}
h1 {
    color: red;
    background-color: black;
}

.Ingredients {
    padding: 20px;
}

#burgermethod {
    font-size: 40px;
}

.method {
    font-size: 70px;
}